.footer {
  height: 200px;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer img {
  width: 150px;
  margin-right: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.footer__menu {
  margin-right: 30px;
  font-weight: bold;
  font-size: 16px;
}
.footer__menu_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.footer__menu_stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 20px;
  border: 2px solid #FF4500;
  background: #FF4500;
  border-radius: 3px;
  color: white;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
.footer__menu_elements {
  margin-right: 30px;
}
.footer__menu_subscribe {
  color: #FF4500;
  margin-right: 30px;
}
.footer__menu_little-name {
  margin-right: 30px;
}
.footer__menu_coordinate {
  margin-right: 30px;
}
.footer__menu .film-name {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}
.footer__menu_reaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.footer__menu_watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  border: 2px solid orange;
  border-radius: 3px;
  background: orange;
  margin-right: 30px;
}
.footer__menu_watch .play {
  width: 30px;
  height: 30px;
  margin: 0;
}
.footer__menu_add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 50px;
  border: 2px solid white;
  border-radius: 2px;
  margin-right: 30px;
}
.footer__menu_add-button img {
  width: 40px;
  margin: 0;
}
.footer__menu .footer__menu_like {
  width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 30px;
}
.footer__menu .footer__menu_dislike {
  width: 50px;
  height: 50px;
  margin: 0;
}
.footer__menu .footer__reaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  color: silver;
  margin-top: 10px;
}
.footer__menu .footer__reaction_explain {
  margin-right: 45px;
}

.sound-control {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.sound-control__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
  background: white;
  margin: 20px;
}
.sound-control__img {
  width: 30px;
  height: 30px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "TT Norms Pro";
  font-weight: 800;
}

li {
  list-style: none;
}

.film-block {
  width: 1280px;
  height: 700px;
  background: url(../img/mainImg.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  background: black;
  padding: 20px 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu_logo {
  width: 120px;
  height: 20px;
  margin-right: 50px;
}
.header__menu_watching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: orangered;
  margin-right: 30px;
  text-transform: uppercase;
  font-family: "TT Norms Pro";
  font-size: 14px;
}
.header__menu_watching .items {
  margin-right: 30px;
  border-color: white;
}
.header__menu .items:last-child {
  margin-right: 0;
}
.header__menu_add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}
.header__menu_add .circle {
  width: 5px;
  height: 5px;
  border: 1px solid silver;
  background: silver;
  border-radius: 50%;
  margin-right: 3px;
}
.header__menu_add .circle:last-child {
  margin-right: 0px;
}
.header__menu_tarifs {
  width: 100px;
  height: 30px;
  border: 1px solid white;
  color: white;
  font-size: 14px;
  background: black;
  border-radius: 3px;
}
.header__menu_search {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}
.header__menu_lang {
  font-size: 14px;
  margin-left: 20px;
  color: grey;
}
.header__menu_exit {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  margin-left: 20px;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/TTNormsPro-Bold.eot");
  src: local("../fonts/TT Norms Pro Bold"), local("TTNormsPro-Bold"), url("../fonts/TTNormsPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro-Bold.woff2") format("woff2"), url("../fonts/TTNormsPro-Bold.woff") format("woff"), url("../fonts/TTNormsPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/TTNormsPro-Thin.eot");
  src: local("../fonts/TT Norms Pro Thin"), local("TTNormsPro-Thin"), url("../fonts/TTNormsPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro-Thin.woff2") format("woff2"), url("../fonts/TTNormsPro-Thin.woff") format("woff"), url("../fonts/TTNormsPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}/*# sourceMappingURL=style.css.map */